In [1]:
# impor library pandas untuk fungsi dataframe dan library math untuk fungsi faktorial
import pandas as pd
import math

In [2]:
# buat dataframe berdasarkan soal
df = pd.DataFrame({
    'x': [3., 6., 9., 12., 15., 18., 21., 24., 27.],
    'y': [-741., -186., 32121., 184956., 634575., 1673874., 3741549., 7451256., 13620771.]
})

# cetak dataframe df
df

      x           y
0   3.0      -741.0
1   6.0      -186.0
2   9.0     32121.0
3  12.0    184956.0
4  15.0    634575.0
5  18.0   1673874.0
6  21.0   3741549.0
7  24.0   7451256.0
8  27.0  13620771.0

In [3]:
# buat kolom Δfx didapat dari selisih kolom y
df1 = (df['y'].shift(-1) - df['y'] ) 

# hapus NaN di baris akhir
df1 = df1.dropna() 

# beri nama kolom dataframe jadi Δfx
df1 = df1.to_frame('Δfx')

# cetak dataframe df1
df1

         Δfx
0      555.0
1    32307.0
2   152835.0
3   449619.0
4  1039299.0
5  2067675.0
6  3709707.0
7  6169515.0

In [4]:
# buat kolom Δ2fx didapat dari selisih kolom Δfx
df2 = (df1['Δfx'].shift(-1) - df1['Δfx'] ) 

# hapus NaN di baris akhir
df2 = df2.dropna() 

# beri nama kolom dataframe jadi Δ2fx
df2 = df2.to_frame('Δ2fx')

# cetak dataframe df2
df2

        Δ2fx
0    31752.0
1   120528.0
2   296784.0
3   589680.0
4  1028376.0
5  1642032.0
6  2459808.0

In [5]:
# buat kolom Δ3fx didapat dari selisih kolom Δ2fx
df3 = (df2['Δ2fx'].shift(-1) - df2['Δ2fx'] ) 

# hapus NaN di baris akhir
df3 = df3.dropna() 

# beri nama kolom dataframe jadi Δ3fx
df3 = df3.to_frame('Δ3fx')

# cetak dataframe df3
df3

       Δ3fx
0   88776.0
1  176256.0
2  292896.0
3  438696.0
4  613656.0
5  817776.0

In [6]:
# buat kolom Δ4fx didapat dari selisih kolom Δ3fx
df4 = (df3['Δ3fx'].shift(-1) - df3['Δ3fx'] ) 

# hapus NaN di baris akhir
df4 = df4.dropna() 

# beri nama kolom dataframe jadi Δ3fx
df4 = df4.to_frame('Δ4fx')

# cetak dataframe df4
df4

       Δ4fx
0   87480.0
1  116640.0
2  145800.0
3  174960.0
4  204120.0

In [7]:
# buat fungsi untuk mendapatkan indeks dari x0
def get_index(x0,df):
    return df[df['x'] == x0].index[0]

# menggunakan x0 = 15
x0 = 15

# nilai y dicari dari saat x = xs 
xs = 16

# cari indeks x0
index_x0 = get_index(x0,df)

# cetak indeks (indeks dimulai dari nol)
index_x0

4

In [8]:
# h merupakan selisih nilai x
h = df.iloc[1]['x'] - df.iloc[0]['x']

# cetak nilai h
h

3.0

In [9]:
# s adalah selisih x dari nilai dicari dan x patokan lalu dibagi h
s = (xs - x0) / h
s

0.3333333333333333

In [10]:
# buat fungsi untuk mencari nilai yang dicari dengan newton gregory forward
def ngf_4(index,s,df,df1,df2,df3,df4):
    return  (df.iloc[index]['y']) + \
            (s * df1.iloc[index]['Δfx']) + \
            (s * (s-1) * df2.iloc[index]['Δ2fx'] / math.factorial(2)) + \
            (s * (s-1) * (s-2) * df3.iloc[index]['Δ3fx'] / math.factorial(3)) + \
            (s * (s-1) * (s-2) * (s-3) * df4.iloc[index]['Δ4fx'] / math.factorial(4))

# mencari hasil newton gregory forward untuk mencari nilai dicari dengan fungsi ngf_4
hasil_ngf = ngf_4(index_x0,s,df,df1,df2,df3,df4)

# mencetak hasil newton gregory forward
hasil_ngf

896224.0

In [11]:
print(f'Hasil Newton Gregory Forward untuk xs = {xs} menggunakan x0 = {x0} adalah {hasil_ngf}')

Hasil Newton Gregory Forward untuk xs = 16 menggunakan x0 = 15 adalah 896224.0

In [12]:
# fungsi mencari error true
def error_true(y_true,y_aprox):
    return round(abs( (y_true - y_aprox) / y_true ) * 100,2)

# nilai y sebenarnya
y_true = 897104

# mencari error true dengan fungsi error_true
et = error_true(y_true,hasil_ngf)

# cetak error true
et

0.1

In [13]:
# cetak error sebelum dibulatkan dua angka belakang koma
print(abs( (y_true - hasil_ngf) / y_true ) * 100)

0.09809342060675239